<div class='general_details'>

<input type='text' ng-model='$root.form_data.general.name'>name: </input>
<input type='text' ng-model='$root.form_data.general.email'>email: </input>
<input type='text' ng-model='$root.form_data.general.phone_no'>phone No: </input>

</div>