.option-box{
	height:100px;
	width:30%;
	background-color: #efefef;
	margin-left:50px;
	float:left;
	margin-top:80px;
	margin-left: 140px;
	text-align: center;
	font-size: 290%;
	 font-style: oblique;
}

.text-data{
	margin-top:40px;
	margin-left:300px;
	background-color: #efefef;
	float:left;
	display:block;

}

.link{
	margin-left:35%;
}