.heading{
	height:80px;
	background-color: red;
}

.sections{
	height:500px;
	width:25%;
	display: inline-block;
	float:left;
	border:1px solid black;
	margin:2px 2px 2px 2px;
}

.form_area{
	height:500px;
	width:74%;
	display:inline-block;
	float:left;
	border:1px solid black;
	 overflow-y: scroll;
	margin:2px 2px 2px 2px;
}

.sec_button{

	width:59%;
	margin:2px 2px 2px 2px;
	background-color: #efefef;
}
.middle{
	margin-left:48%;
}

.left{
	float:left;
	margin-left: 10%;
	display:inline-block;
	width:10%;
	height:50px;
}
.right{
	float:right;
	width:10%;
	margin-right: 10%;
	display:inline-block;
	height:50px;
}